{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{entry_tile}}
{% endblock %}

{% block body %}
<form method="post" action="{% url 'new' %}">
    {% csrf_token %}
    <h4 class="display-5">Create new page:</h4>
    {% if exist %}
    <div class="alert alert-danger" role="alert">
        This entry already exists. If you want to view or edit it, <a href="/wiki/{{ entry_title }}" class="alert-link">click here</a>.
    </div>
    {% endif %}
    <h6 class="post-title">Title: {{form.title}}</h6>
    
        {{form.content}}
    <br>
    <input class="save btn btn-info" type="submit" value="Save"/>
</form>
{% endblock %}